.desktop {
    position: relative;
    isolation: isolate;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    background: var(--background);
}

.wallpaper {
    z-index: -1;
    object-fit: cover;
    object-position: center 70%;
    pointer-events: none;
    user-select: none;
}

.lightWallpaper {
    visibility: visible;
}

.darkWallpaper {
    visibility: hidden;
}

:global(.dark) .lightWallpaper {
    visibility: hidden;
}

:global(.dark) .darkWallpaper {
    visibility: visible;
}

.content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
